* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-image: url("../images/homepage_bg.png");
  background-size: cover;
  width: 100%;
  height: auto;
  /* background-repeat: no-repeat; */
}
.container {
  position: relative;
  margin-top: 100px;
}
.container img {
  display: block;
  width: 100%;
}
nav {
  position: relative;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Segoe UI Regular";
  padding-left: 80px;
  padding-top: 35px;
  padding-right: 80px;
  height: 120px;
  background: transparent;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: -25px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: "Segoe UI Regular";
}
#main-title{
  font-size: 50px;
  font-family: "Segoe UI Semibold";
  color: #fff;
  text-align: center;
  margin-top: 15%;
}
#main-logo {
  width: 300px;
  margin-top: -20px;
  margin-left: -30px;
}
#search {
  border: 1px black solid;
    background-color: transparent;
    font-size: 20px;
    border-radius: 40px;
    margin-left: -6%;
    border: 4px black solid;
    outline: none;
    cursor: pointer;
    width: 70px;
    height: 50px; 
}
#search-bar {
  font-size: 25px;
  width: 800px;
  height: 60px;
  border-radius: 50px;
  margin-left: 280px;
  color: #fff;
  padding-left: 30px;
  background: rgb(255 255 255 / 20%);
  margin-top: 40px;
  margin-right: auto;
  outline: none;
}
#bottom {
  font-size: 35px;
  margin-top: 190px;
  font-family: "Segoe UI Regular";
  color: #fff;
  text-align: center;
} 
h2 {
  margin-top: 100%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
@media screen and (device-width: 1440px) 
{
  nav .links a {
    font-size: 31px;
  }
  #bottom {
    margin-top: 350px;
  } 
  #main-title{
    margin-top: 22%;
  }
}
@media screen and (min-width: 1920px) {
  #main-logo {
    width: 450px;
    margin-top: 5px;
  }
  nav .links a {
    font-size: 35px;
  }
  #main-title {
    font-size: 70px;
    margin-top: 20%;
  }
  #search {
    font-size: 20px;
    border-radius: 40px;
    margin-left: -5%;
    width: 69px;
    height: 69px; 
    cursor: pointer;
  }
  #search-bar {
    width: 900px;
    height: 80px;
    margin-left: 500px;
  }
  #bottom {
    font-size: 50px;
    margin-top: 380px;
  } 
}


