* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #181C2E;
  font-family: 'Segoe UI Semibold';
}
.container{
  /* border:2px red solid; */
  width: 95%;
  max-width: 100rem; 
  min-width: 27.875rem;
  margin:0 auto;
}
.main-title{
  color:white;
  /* border: 1px yellow solid; */
  font-size: 1.5rem;
  padding: 1.95rem 0;
  margin: 0 auto;
  text-align: center;
}
.hero_container{
  /* border: 1px yellow solid; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.bottom{
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 11vh;
}
input{
  background-color: rgba(255, 255, 255, 0.198);
  border-radius: 2rem;
  outline: none;
  border: none;
  padding:1rem;
  width: 80%;
  max-width: 24rem;
  font-size: 0.62rem;
  color: white;
}

.search{
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  margin-left: -11%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
  color: white;
  align-self: center;
}

button:hover{
  opacity: 0.7;
  cursor: pointer;
}
/*navigation part*/
header {
  background: transparent;
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;
  outline: none;
  position: absolute;
  left: 0;
  margin-left: 2em;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__list {
  margin: 0 ;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.nav__link--button {
  padding: 0.25rem 0.75rem;
  color: #23424a;
  background: #fff;
  border-radius: 6.5rem;
}
.nav__link:hover,
.nav__link:focus {
  opacity: 0.5;
}
img{
  width: 50%;
  max-width: 100%;
}
.logo {
  height: 30px;
}
/*navigation end*/

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.result{
  line-height: 1.5rem; 
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Segoe UI Semibold';
}
.result--safe{
  color:#1AE227;
}
.result--unsafe{
  color:red;
}
.result-container{
  /* border: 2px red solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
}
#circleicon{
  margin:0;
  padding:0;
  width: 1.5rem;
  height: 4.2rem;
  align-self:flex-start;
}
.circleicon--green{
  color:#1AE227;
}
.circleicon--red{
  color:red;
}

@media (min-width:600px)
{
  html{
    font-size: 25px;
  }
  .row{
    /* border: 4px orange solid; */
    display: flex;
    align-items: center;
    width: 95%;
  }
  .nav{
    visibility:visible;
    position: relative;
  }
  .nav__list{
    /* border: 4px yellow solid; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -1.5em;
    margin-left: -11rem;
  }
  .nav-toggle{
    width: 0;
    height: 0;
  }
  .hero__img{
   margin-right:20rem;
  }
  img{
    width: 40%;
  }
  .main-title{
    margin-top: 2rem;
  }
  .search{
    width: 2rem;
    height: 2rem;
    align-self: center;
    margin-left: -10%;
  }
  input{
    padding: 0.9rem;
  }
}
@media (min-width:900px){
  .nav__list{
    margin-left: 0.15rem;
  }
  .search{
    margin-left: -5%;
  }
}
@media (min-width:1800px){
  html{
    font-size: 30px;
  }
}
