* {
  box-sizing: border-box;
}
body{
  color: white;
}
.hero__container1{
  /* border:5px orange solid; */
  display: flex;
  flex-direction: column;
  align-items:center;
  margin:0
}
.app-desc{
  /* border: 1px yellow solid; */
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Segoe UI Semibold';
}
.app-desc-font{
  font-family: 'Segoe UI Regular';
  margin-top: 0.8rem;
}
.download{
  /* border: 10px yellow solid; */
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.dow{
  /* border: 10px yellow solid; */
  width: 45%;
  margin: 0 auto;
}
.video--color,iframe{
  width: 25rem;
  height: 15rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
.video--color{
  background-color:#707070;
}


@media (min-width:900px){
  .hero__container1{
    flex-direction: row;
  }
  .app-desc,.app-desc-font{
    margin:0.2rem;
    text-align: left;
  }
  .dow{
    /* border: 2px yellow solid; */
    flex-direction: column;
    width: auto;
  }
  .app-desc-mod{
    width: 70%;
  }
  iframe{
    margin-left: 2.5rem;
  }
}

