*{
    box-sizing: border-box;
}
.hero__container{
    /* border:1px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.main-title--blue{
    color:#CDEFF8;
    font-size: 2rem;
    font-family: 'Segoe UI Regular';
}
.description{
    /* border:1px red solid; */
    font-family: 'Segoe UI';
    font-size: 0.9rem;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.api-text--title{
    text-align: center;
    font-size: 1.4rem;
    color:white;
}
.api-text--white{
    font-size: 1.1rem;
    color:white;
    margin: 1rem auto;
    color: white;
    align-self: flex-start;
}
.content{
    background-color:#c9c6c6f8;;
    padding: 1rem 0.7rem;
    border-radius: 1rem;
    width: 90%;  
    margin-bottom: 2.4rem;
}
.content-text{
    color:black;
}
.content--response{
    background-color: transparent;
    color:white;
    font-family: 'Segoe UI';
    width: 90%;
    max-width: 650px;
    margin-bottom: 0.8rem;
}
@media (min-width:600px){
    .content{
        padding-left: 3rem;
    }
}
@media (min-width:900px) {
    .hero__container{
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }
    .api-text--title{
        /* border: 1px red solid; */
        margin-bottom: 0.2rem;
        text-align: left;
        margin-left: 3.3rem;
        width: 30%;
        flex:1;
    }
    .api-text--white{
        margin: 1rem 0;
        color: white;
        align-self: flex-start
    }
    .content{
        padding: 0.3rem 1rem;
        flex: 0;
    }
    .content--response{
        width: 49%;
        align-self:flex-start;
        margin-top: 1rem;
    }
    .content--2{
        padding:1rem 3rem;
    }
}
@media (min-width:1800px){
    html{
        font-size: 38px;
    }
    .col{
        margin-left: 2rem;
    }
    .api-text--title{
        margin-left: 2.3rem;
    }
}








