/* @media screen 
  and (min-width: 360px) 
  and (max-width: 568px)  {
  nav .logo {
    font-size: 50px;
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 40px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  #main-title{
    font-size: 46px;
    color: #fff;
    margin-top: 40rem;
    margin-right: auto;
    margin-left: 15rem;
    width: 170%;
  }
  #search {
    width: auto;
    padding: 10px;
    margin-top: 25px;
    font-size: 40px;
    border: 1px black solid;
    border-radius: 50px;
    margin-left: 10.5em;
    outline: none;
  }
  #search-bar{
    text-align: center;
    font-size: 50px;
    padding: 20px 192px;
    margin-top: 2rem;
    margin-left: 0em;
    border: 1px black solid;
    border-radius: 50px;
    outline: none;
  }
} */
/* @media only screen
and (min-width : 1224px) { 
    #main-title{
      font-size: 70px;
      margin-top: 20%;
      margin-left: 28rem;
      margin-right: auto;
    }
   #bottom{
    font-size: 50px;
   }
   #search{
    border: 1px black solid;
   }
    #search-bar {
      font-size: 30px;
      color:#fff;
      width:900px;
      height:80px;
      padding-left: 30px;
      background: rgb(255 255 255 / 20%);
    margin-left: 470px;
    margin-top: 40px;
    margin-right: auto;
    }
    h2{
      margin-top: 100%;
    }
} */
/* @media screen 
  and (min-width: 320px) and (max-width:480px)  {
  #main-title{
    width: 190%;
    font-size: 50px;
    margin-left: 5em;
  }
  #search {
    font-size: 40px;
    font-weight: bold;
    border: 1px black solid;
    padding: 20px;
    margin-left: 12em;
  }
  #search-bar{
    margin-left: 4rem;
  }
  #bottom{
    margin-top: 160px;
    margin-left: 25rem;
    margin-right: auto;
    font-size: 70px;
   }
}
@media only screen
and (device-width : 768px){
  nav .logo {
    font-size: 50px;
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 40px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  nav .logo {
    font-size: 50px;
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 40px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  #main-title{
    width: 190%;
    margin-top: 40rem;
    font-size: 80px;
    margin-left: 40rem;
  }
  #search {
    font-size: 50px;
    font-weight: bold;
    border: 1px black solid;
    padding: 20px;
    margin-top: 1rem;
    margin-left: 65rem;
  }
  #search-bar{
    font-size: 50px;
    padding:2rem 20rem;
    margin-left: 32rem;
  }
  #bottom{
    margin-top: 160px;
    margin-left: 55rem;
    margin-right: auto;
    font-size: 80px;
   }

}
#nav-toggle {
  position: absolute;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
#main-title{
  font-size: 60px;
  font-family: "Segoe UI Semibold";
  color: #fff;
  text-align: center;
  margin-top: 15%;
}
#main-logo {
  width: 300px;
  margin-top: -20px;
  margin-left: -30px;
}
#search {
    background-color: transparent;
    font-size: 12px;
    margin-left: -110%;
    margin-bottom: 5px;
    border: 4px white solid;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    width: 49px;
    height: 49px;
    color:white;
}
.result{
  text-align: center;
  font-size: 35px;
  font-family: 'Segoe UI Semibold';
  margin-top: 2em;
  margin: 0;
}
.result--safe{
  color:#1AE227;
}
.result--unsafe{
  color:red;
}
.result-container{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 3em;
}
#circleicon{
  margin:0;
  padding:0;
  width: 2em;
  height: 2em;
  margin-right: 1.2em;
}
.circleicon--green{
  color:green;
}
.circleicon--red{
  color:red;
}
#search-container{
  border:5px yellow solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
#bar-container{
    border: 5px green solid;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#button-container{
  border: 5px red solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#search-bar {
  font-size: 25px;
  width: 800px;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  padding-left: 30px;
  background: rgb(255 255 255 / 20%);
  margin-top: 70px;
  outline: none;
}
#bottom {
  font-size: 35px;
  margin-top: 190px;
  font-family: "Segoe UI Regular";
  color: #fff;
  text-align: center;
  padding-bottom: 5%;
  margin-top: 250px;
} 
#gtitle-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  width: 90%;
  margin-top: 9%;
}
.result{
  line-height: 1.5rem;  
  text-align: center;
  width: 90%;
  font-size: 1.3rem;
  font-family: 'Segoe UI Semibold';
  margin-top: 2rem;
  margin: 0;
}
.result--safe{
  color:#1AE227;
}
.result--unsafe{
  color:red;
}
.result-container{
  /* background-color: antiquewhite; */
  /* display: flex;
  justify-content: center;
  padding: 3em;
}
#circleicon{
  margin:0;
  padding:0;
  width: 1.5rem;
  height: 2rem;
  margin-right: 0.2rem;
}
.circleicon--green{
  color:green;
}
.circleicon--red{
  color:red; */
/* } */

 */