* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  margin-top: 100px;
}
.container img {
  display: block;
  width: 100%;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Segoe UI Regular";
  padding: 0 1%;
  height: 120px;
  background-color: #3e65da;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
#search {
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
  margin-left: -7%;
  outline: none;
}
#search-bar {
  text-align: center;
  font-size: 30px;
  padding: 20px 200px;
  margin-top: 2%;
  margin-left: 13em;
  border: 1px black solid;
  border-radius: 50px;
  outline: none;
}

@media screen 
  and (min-width: 360px) 
  and (max-width: 568px)  {
  nav .logo {
    font-size: 50px;
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 40px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  #main-title{
    font-size: 46px;
    margin-top: 40rem;
    margin-right: auto;
    margin-left: 15rem;
    width: 170%;
  }
  #search {
    width: auto;
    padding: 10px;
    margin-top: 25px;
    font-size: 40px;
    border-radius: 50px;
    margin-left: 10.5em;
    outline: none;
  }
  #search-bar{
    text-align: center;
    font-size: 50px;
    padding: 20px 192px;
    margin-top: 2rem;
    margin-left: 0em;
    border: 1px black solid;
    border-radius: 50px;
    outline: none;
  }
}
@media only screen
and (min-width : 1224px) { 
    #main-title{
      font-size: 40px;
      margin-top: 20%;
      margin-left: 28rem;
      margin-right: auto;
    }
   #bottom{
    margin-top: 160px;
    margin-left: 40%;
    margin-right: auto;
    font-size: 50px;
   }
    #search-bar {
      margin-left: 10em;
    }
    h2{
      margin-top: 100%;
    }
}
@media screen 
  and (min-width: 320px) and (max-width:480px)  {
  #main-title{
    width: 190%;
    font-size: 50px;
  }
  #search {
    padding: 20px;
    margin-left: 12em;
  }
  #search-bar{
    margin-left: 4rem;
  }
  #bottom{
    margin-top: 160px;
    margin-left: 25rem;
    margin-right: auto;
    font-size: 70px;
   }
}



